.sidebar-div {
  width: 20vw;
  height: 90vh;
  margin-top: 10vh;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0vh;
  left: 0;
}

.sidebar-link {
  color: white;
  padding: 1rem;
  padding-left: 2rem;
  margin: 1rem;
  background-color: brown;
}
