.playlist-videos-div {
   margin-top: 10vh;
   margin-left: 20vw;
}

.remove-button {
   font-size: 1rem;
}

.video-cardbodyy {
   color: var(--primary-color);
   text-decoration: none;
}
.videoImgDivv {
   height: 50%;
   width: 20rem;
   /* padding: 1rem; */

   /* overflow-y: hidden; */
}
.card-parent-div {
   height: 20rem;
   overflow-y: hidden;
   /* margin: 1rem; */
   width: 20rem;
   margin: 1rem;
   /* display: flex; */
   /* align-items: center; */
   /* flex-direction: column; */
}

.parent-dataa {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

   margin-top: 10vh;
   margin-left: 20vw;
}
.videos-main-divv {
   margin-top: 10vh;
   padding: 1rem;
   width: 100%;
   margin-left: 20vw;
}

.map-link {
   margin: 0.5rem;
}
